{
  "branches": ["main"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md",
        "changelogTitle": "# Changelog"
      }
    ],
    [
      "@google/semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": ["rfc2html.py"],
            "from": "__version__ = '.*'",
            "to": "__version__ = '${nextRelease.version}'",
            "results": [
              {
                "file": "rfc2html.py",
                "hasChanged": true,
                "numMatches": 1,
                "numReplacements": 1
              }
            ],
            "countMatches": true
          }
        ]
      }
    ],
    [
        "semantic-release-pypi",
        {
            "repoUrl": "https://test.pypi.org/legacy/"
        }
    ],
    [
      "@semantic-release/git",
      {
        "assets": ["CHANGELOG.md", "rfc2html.py", "setup.cfg"]
      }
    ],
    "@semantic-release/github"
  ]
}
