name: Publish Test Python Package

on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ develop ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  deploy:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Setup Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
        
    - name: Install Python dependencies
      run: |
        python -m venv venv
        source venv/bin/activate
        python -m pip install --upgrade pip setuptools wheel twine
        pip install build
        
    - name: Build Python package
      run: |
        sed -i -r -e "s/^__version__ = '.*'$/__version__ = '2.0.${{ github.run_number }}'/" rfc2html.py
        python ./setup.py setopt --command=metadata --option=version --set-value=2.0.${{ github.run_number }}
        python ./setup.py sdist --dist-dir dist
        python ./setup.py bdist_wheel --dist-dir dist
        
    - name: Publish to Test PyPI
      uses: pypa/gh-action-pypi-publish@v1.5.0
      with:
        password: ${{ secrets.TEST_PYPI_TOKEN }}
        repository_url: https://test.pypi.org/legacy/
        verbose: true
        print_hash: true
        
    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v2.3.1
      with:
        name: artifacts
        path: |
          rfc2html.py
          setup.cfg
